In [1]:
import numpy as np
import pandas as pd
import scipy.stats
from termcolor import colored
from Statistical_Analysis import Analysis

In [2]:
# Now, we can use pandas read_excel after installing the excel importer.

import pandas as pd

df = pd.read_excel('data_von_meyenburg.xlsx')
df

,Dilution Rate (1/h),biomass concententration (g/L),substrate concentration (g/L),ethanol concentration(g/L),specific CO2 production rate (mmoles / gDW.h),specific O2 consumption rate (mmoles / gDW.h)
0,0.15,14.0,0.00,0.0,4.5,4.50
1,0.30,7.1,0.10,4.2,14.4,6.57
2,0.40,4.4,0.46,8.3,26.0,3.66

In [3]:
sf = 28
Mw_biomass = 25.17

In [4]:

col = df.columns
row = df.index

q_table = pd.DataFrame()

q_table["D"] = df[col[0]]

q_table["𝒒_𝒙 (C mole / L.h)"] = (df[col[1]]*0.92/Mw_biomass) * df[col[0]]
q_table["−𝒒_𝒔 (C mole / L.h)"] = (28 - df[col[2]]) * df[col[0]]/30

q_table["𝒒_𝒑 (C mole / L.h)"] = df[col[3]] * df[col[0]]/23
q_table["𝒒_𝒄 (C mole / L.h)"] = df[col[4]] * df[col[1]] * 0.001
q_table["𝒒_𝒐 (mole / L.h)"] = df[col[5]] * df[col[1]] * 0.001
q_table

,D,𝒒_𝒙 (C mole / L.h),−𝒒_𝒔 (C mole / L.h),𝒒_𝒑 (C mole / L.h),𝒒_𝒄 (C mole / L.h),𝒒_𝒐 (mole / L.h)
0,0.15,0.076758,0.1400,0.000000,0.06300,0.063000
1,0.30,0.077855,0.2790,0.054783,0.10224,0.046647
2,0.40,0.064331,0.3672,0.144348,0.11440,0.016104

In [5]:
col = df.columns
row = df.index

df2 = pd.DataFrame()

df2["D"] = df[col[0]]
df2["DW"] = df[col[1]]

df2['CH2O'] = 1.00
df2['O2'] = q_table["𝒒_𝒐 (mole / L.h)"] / q_table["−𝒒_𝒔 (C mole / L.h)"]
df2['NH3'] = None
df2['CH1.83O0.56N0.17'] = q_table["𝒒_𝒙 (C mole / L.h)"] / q_table["−𝒒_𝒔 (C mole / L.h)"]
df2['H2O'] = None
df2['CO2'] = q_table["𝒒_𝒄 (C mole / L.h)"] / q_table["−𝒒_𝒔 (C mole / L.h)"]
df2['CH3O0.5'] = q_table["𝒒_𝒑 (C mole / L.h)"] / q_table["−𝒒_𝒔 (C mole / L.h)"]
df2

,D,DW,CH2O,O2,NH3,CH1.83O0.56N0.17,H2O,CO2,CH3O0.5
0,0.15,14.0,1.0,0.450000,None,0.548272,None,0.450000,0.000000
1,0.30,7.1,1.0,0.167194,None,0.279049,None,0.366452,0.196353
2,0.40,4.4,1.0,0.043856,None,0.175192,None,0.311547,0.393104

In [6]:
reactants = ['CH2O', 'O2', 'NH3']
products = ['CH1.83O0.56N0.17', 'H2O', 'CO2', 'CH3O0.5']

error_percent_orig = [5, 10, None, 5, None, 10, 5]

analysis1 = Analysis(reactants, products, error_percent_orig, df2)
analysis1.perform_analysis()

all element involved in chemical reaction are: ['C', 'H', 'N', 'O']
reactant_i = CH2O , --> (1, 2.0, 0, 1)
reactant_i = O2 , --> (0, 0, 0, 2.0)
reactant_i = NH3 , --> (0, 3.0, 1, 0)
product_i = CH1.83O0.56N0.17 , --> (1, 1.83, 0.17, 0.56)
product_i = H2O , --> (0, 2.0, 0, 1)
product_i = CO2 , --> (1, 0, 0, 2.0)
product_i = CH3O0.5 , --> (1, 3.0, 0, 0.5)

   CH2O   O2  NH3  CH1.83O0.56N0.17  H2O  CO2  CH3O0.5
C  -1.0 -0.0 -0.0              1.00  0.0  1.0      1.0
H  -2.0 -0.0 -3.0              1.83  2.0  0.0      3.0
N  -0.0 -0.0 -1.0              0.17  0.0  0.0      0.0
O  -1.0 -2.0 -0.0              0.56  1.0  2.0      0.5

A =

[[-1.   -0.   -0.    1.    0.    1.    1.  ]
 [-2.   -0.   -3.    1.83  2.    0.    3.  ]
 [-0.   -0.   -1.    0.17  0.    0.    0.  ]
 [-1.   -2.   -0.    0.56  1.    2.    0.5 ]]

i =  0
all_coeff =  [1.0, 0.45, None, 0.5483, None, 0.45, 0.0]
coeff not measured [2, 4]

   CH2O   O2  NH3  CH1.83O0.56N0.17  H2O  CO2  CH3O0.5
C  -1.0  0.0  0.0               1.0  0.0  1.0      1.0
H   0.0  4.0  0.0               0.2  0.0 -4.0      2.0

   CH2O   O2  CH1.83O0.56N0.17  CO2  CH3O0.5
C  -1.0  0.0               1.0  1.0      1.0
H   0.0  4.0               0.2 -4.0      2.0

A =

[[-1.   0.   1.   1.   1. ]
 [ 0.   4.   0.2 -4.   2. ]]

x_measured =  [[1.    ]
 [0.45  ]
 [0.5483]
 [0.45  ]
 [0.    ]]

We have chi-square with 2 degrees of freedom at 90.0 % confidence level =  4.605170185988092

--------------------------------------------
    --------------Test Passed-------------------
    --------------------------------------------

h_org = 0.21756716357663175
deleting the measurement for CH2O
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

--------------------------------------------
    --------------Test Passed-------------------
    --------------------------------------------

deleting the measurement for O2
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

--------------------------------------------
    --------------Test Passed-------------------
    --------------------------------------------

deleting the measurement for CH1.83O0.56N0.17
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

--------------------------------------------
    --------------Test Passed-------------------
    --------------------------------------------

deleting the measurement for CO2
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

--------------------------------------------
    --------------Test Passed-------------------
    --------------------------------------------

deleting the measurement for CH3O0.5
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

--------------------------------------------
    --------------Test Passed-------------------
    --------------------------------------------


Deletion of stoichiometric coefficients of ['CH2O', 'O2', 'CH1.83O0.56N0.17', 'CO2', 'CH3O0.5'] passes the chi-square test
Hence ['CH2O', 'O2', 'CH1.83O0.56N0.17', 'CO2', 'CH3O0.5'] measurements can be suspected of containg GROSS ERRORS
-----------------------------

{'CH2O': 0.18548980195181114,
 'O2': 0.0005477030162265912,
 'CH1.83O0.56N0.17': 0.17736474106213662,
 'CO2': 0.12351666699013666,
 'CH3O0.5': 0.10857051748171223}

-------------------------------
i =  1
all_coeff =  [1.0, 0.1672, None, 0.279, None, 0.3665, 0.1964]
coeff not measured [2, 4]

   CH2O   O2  NH3  CH1.83O0.56N0.17  H2O  CO2  CH3O0.5
C  -1.0  0.0  0.0               1.0  0.0  1.0      1.0
H   0.0  4.0  0.0               0.2  0.0 -4.0      2.0

   CH2O   O2  CH1.83O0.56N0.17  CO2  CH3O0.5
C  -1.0  0.0               1.0  1.0      1.0
H   0.0  4.0               0.2 -4.0      2.0

A =

[[-1.   0.   1.   1.   1. ]
 [ 0.   4.   0.2 -4.   2. ]]

x_measured =  [[1.    ]
 [0.1672]
 [0.279 ]
 [0.3665]
 [0.1964]]

We have chi-square with 2 degrees of freedom at 90.0 % confidence level =  4.605170185988092

********************************************
    *************Test Failed********************
    ********************************************

h_org = 20.934471197898176
deleting the measurement for CH2O
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

********************************************
    *************Test Failed********************
    ********************************************

deleting the measurement for O2
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

********************************************
    *************Test Failed********************
    ********************************************

deleting the measurement for CH1.83O0.56N0.17
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

********************************************
    *************Test Failed********************
    ********************************************

deleting the measurement for CO2
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

********************************************
    *************Test Failed********************
    ********************************************

deleting the measurement for CH3O0.5
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

--------------------------------------------
    --------------Test Passed-------------------
    --------------------------------------------


Deletion of stoichiometric coefficients of ['CH3O0.5'] passes the chi-square test
Hence ['CH3O0.5'] measurements can be suspected of containg GROSS ERRORS
-----------------------------

{'CH2O': 4.610437918485958,
 'O2': 6.045973334896846,
 'CH1.83O0.56N0.17': 3.515638636971252,
 'CO2': 18.731253061505928,
 'CH3O0.5': 0.01654221542221999}

-------------------------------
i =  2
all_coeff =  [1.0, 0.0439, None, 0.1752, None, 0.3115, 0.3931]
coeff not measured [2, 4]

   CH2O   O2  NH3  CH1.83O0.56N0.17  H2O  CO2  CH3O0.5
C  -1.0  0.0  0.0               1.0  0.0  1.0      1.0
H   0.0  4.0  0.0               0.2  0.0 -4.0      2.0

   CH2O   O2  CH1.83O0.56N0.17  CO2  CH3O0.5
C  -1.0  0.0               1.0  1.0      1.0
H   0.0  4.0               0.2 -4.0      2.0

A =

[[-1.   0.   1.   1.   1. ]
 [ 0.   4.   0.2 -4.   2. ]]

x_measured =  [[1.    ]
 [0.0439]
 [0.1752]
 [0.3115]
 [0.3931]]

We have chi-square with 2 degrees of freedom at 90.0 % confidence level =  4.605170185988092

********************************************
    *************Test Failed********************
    ********************************************

h_org = 11.574713673332255
deleting the measurement for CH2O
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

********************************************
    *************Test Failed********************
    ********************************************

deleting the measurement for O2
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

********************************************
    *************Test Failed********************
    ********************************************

deleting the measurement for CH1.83O0.56N0.17
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

--------------------------------------------
    --------------Test Passed-------------------
    --------------------------------------------

deleting the measurement for CO2
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

********************************************
    *************Test Failed********************
    ********************************************

deleting the measurement for CH3O0.5
performing row operations and delting corresponding row and column


We have chi-square with 1 degrees of freedom at 90.0 % confidence level =  2.705543454095404

--------------------------------------------
    --------------Test Passed-------------------
    --------------------------------------------


Deletion of stoichiometric coefficients of ['CH1.83O0.56N0.17', 'CH3O0.5'] passes the chi-square test
Hence ['CH1.83O0.56N0.17', 'CH3O0.5'] measurements can be suspected of containg GROSS ERRORS
-----------------------------

{'CH2O': 3.5715802821434486,
 'O2': 3.6731877454096145,
 'CH1.83O0.56N0.17': 2.699063767710258,
 'CO2': 9.58874382080784,
 'CH3O0.5': 0.0016869635709490776}

-------------------------------

,D,DW,h (no deletion),h after deleting CH2O,h after deleting O2,h after deleting CH1.83O0.56N0.17,h after deleting CO2,h after deleting CH3O0.5
0,0.15,14.0,0.22,0.19,0.00,0.18,0.12,0.11
1,0.30,7.1,20.93,4.61,6.05,3.52,18.73,0.02
2,0.40,4.4,11.57,3.57,3.67,2.70,9.59,0.00